body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
}

button {
    color: #fff ;
    background-color: #e50914;
    line-height: normal;
    float: right;
    margin: 5px 3% 0;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    border: none;
}

#netflix-logo {
    height: 45px; 
    width: 166.5px;
    margin: 10px;
}

h1 {
    color: #fff;
    margin: 0 0 .2em;
    line-height: 1.1em;
    font-weight: 700;
    text-shadow: 1px 1px 10px #000;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 40px;
}

.description {
    color: #fff;
    margin: 0 0 .2em;
    line-height: 1.1em;
    font-weight: 700;
    text-shadow: 1px 1px 10px #000;
    font-size: 13px;
    letter-spacing: .2px;
    font-weight: lighter;
}

.mes-gratis {
    letter-spacing: 2.9px;
    font-size: 14px;
    width: 292.08;
    height: 44px;
    float: left;
    margin-left: 0;
}

#content {
    margin-top: 250px;
    margin-left: 10px;
}

#login {
    height: 460px;
    background-color: #f3f3f3;
}

#titulo-form {
    padding: 0;
    color: #333;
    line-height: 1.1em;
    text-shadow: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: lighter;
}

#iniciar-sesion {
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    border: none;
}